const { transformDynamoData, restoreFromBackup } = require("./functions")
const event = require("./migration-event")

module.exports = {
  async up(ddb) {
    await transformDynamoData(event);
  },

  async down(ddb) {
    
  },
};
