import * as AWS from '@aws-sdk/client-dynamodb'
import { TransformEvent, TransformType, transformDynamoData } from '../lib/functions'

const event: TransformEvent = {
  table: `${process.env.API_STACK}-<table-name>`,
  field: '<column-name>',
  transformType: TransformType,
  updateToValue: '<new-value>',
  replaceValue: '<old-value>'
}

export async function up(ddb: unknown, dryRun: boolean) {
  await transformDynamoData(event, dryRun)
}
